
body {
background-image: url('http://www.bostonherald.com/sites/default/files/styles/gallery/public/media/2010/12/04/ec96aa_408a3e_Thomas_06082010.jpg?itok=Ad70E4w');
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

